@import "compass";


@include global-reset;

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

html, body, #wrap { height: 100%; }
body > #wrap { height: auto; min-height: 100%; }
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 48px;
    margin-top: -48px;
}
#content { padding-bottom: 48px;

width: 100%;
max-width: 600px;
margin-right: auto;
margin-left: auto;
}

body{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.clear{
	@include clearfix;
	clear: both;
}

img.logo{
	width: 95%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.contact{
	margin-top: 10px;
	position: relative;
	width: 46%;
	a, a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: inherit;
		font-weight: bold;
	}
	a:hover{
		color: grey;
	}
}

#contactN{
	left: 2%;
	width: 100%;
	text-align: left;
}

#contactJ{
	right: 2%;
	width: 100%;
	text-align: right;
}


ul.list_task{
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

	li{
		margin:10px 0;
	}
	li:first-letter{
		font-weight: bold;
		background-color: yellow;
		color: black;
	}
	li:nth-child(2n):first-letter{
		font-weight: bold;
		background-color: black;
		color: white;
	}
}

.address{
	margin: 10px 0px;

	a,a:link,a:visited,a:hover,a:active{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: grey;
	}
}

a.email, a.email:link, a.email:visited, a.email:hover, a.email:active{
	display: block;
	width: 100%;
	padding: 10px 0;
	color: white;
	background-color: black;
	border-top: solid 10px yellow;
	text-decoration: none;

}
a.email:hover{
	color: grey;
}

@media screen and (max-height: 600px) {
	img.logo{
		margin-top: 5px;
	}
	.contact{
		margin-top: 5px;

	}

	ul.list_task{

		margin-top: 10px;
		margin-bottom: 20px;

	}
	.address{
		margin-bottom: 5px;
	}
}

// Pages realisations
.realisations-container img.logo{
	width: 70%;
	max-width: 600px;
}
.realisations-container h1{
	margin-top: 5px;
	margin-bottom: 15px;
}

.realisation-caption{
	display: block;
    width: 100%;
    height: 30px;
    position: relative;
    top: -33px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #FFFFFF;
    z-index: 1;
	text-decoration: none;
}
a:link .realisation-caption, a:visited .realisation-caption, a:active .realisation-caption{
	text-decoration: none;
}
